body{
    background: #7B6ADD;
    background: -webkit-linear-gradient(top left, #7B6ADD, #ABAFE8);
    background: -moz-linear-gradient(top left, #7B6ADD, #ABAFE8);
    background: linear-gradient(to bottom right, #7B6ADD, #ABAFE8);
}
.song{
  border:1px solid gray;
  margin:20px;
  width: 50%;
  padding: 10px;
}
.song button{
  margin:3px 5px;
  background:yellowgreen;
  border:none;
  outline:none;
  padding: 7px 10px
}

.playlist h1{
  display: block;
  color: rgb(14, 14, 81);
  font-size:39px;
  line-height: 31px;
  text-align: center;
}
.playlist{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.playlist button{
  width: 125px;
  height: 40px;
  background-color: rgb(43, 107, 226);
  color: aliceblue;
  margin: 10px;
  border-radius: 25px;
  border: 2px solid rgb(41,105,220);
  letter-spacing: 0.07em;
}